 .loginDiv{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    justify-content: center;
  

}
.background{
    background-size: cover;
    background-position: center;
     height: 100vh;
    color: white;
      
}
.email{
    width: 300px;
    height: 40px;
    border: none;
    border-radius: 5px;
    margin-bottom: 10px;
    border-bottom: 1px solid #007bff; 
}
.email:focus {
    border-bottom: 1px solid #007bff; 
    outline: none; 
  }

.password{
    width: 300px;
    height: 40px;
    border: none;
    border-radius: 5px;
    margin-bottom: 10px;
    border-bottom: 1px solid #007bff; 
}
.password:focus {
    border-bottom: 1px solid #007bff; 
    outline: none; 
  }
.login{
    width: 300px;
    height: 40px;
    border: 1px solid;
    border-radius: 5px;
    background-color: #007bff;
}
.registerText {
    margin-top: 15px;
    font-size: 0.95rem;
    color: #555;
    margin-left: 50px;
}
  
.registerLink {
    color: #007bff;
    text-decoration: none;
    font-weight: bold;
}
  
.registerLink:hover {
    text-decoration: underline;
}
  